discord
jishaku
timeago
aiohttp
requests
pybooru
pygelbooru
rule34
hmtai
ago
disputils
pymongo
buttons
beautifulsoup4
cfscrape
lxml
syncer
e621
hentai==3.2.3
fundoshi
regex
psutil
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@6f2b873bf0d28903eb752aa1166b3aac26dc9007
saucenao-api
pygicord
pysaucenao
AnilistPython
owotext
reactionmenu
dislash